<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hytc.recommendation_data.library.mapper.NewbookMapper">
    <resultMap id="NewBookMapper" type="com.hytc.recommendation_data.library.entity.Newbook">
        <id column="CALL_NO" property="callNo" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
