<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hytc.recommendation_data.library.mapper.RelatedBookMapper">
<resultMap id="RelatedBookMapper" type="com.hytc.recommendation_data.library.entity.RelatedBook">
    <id property="callNo1" column="CALL_NO1" jdbcType="VARCHAR"/>
    <result property="callNo2" column="CALL_NO2" jdbcType="VARCHAR"/>
</resultMap>
</mapper>
